<div *ngIf="tickets.length > 0">
  <div class="mb-3 flex items-center flex-wrap gap-2">
    <button pButton label="Select All" (click)="selectAll()"></button>
    <span>|</span>
    <button pButton label="Clear All" class="ml-2" (click)="clearAll()"></button>
  </div>

  <h2>Your Pending Tickets</h2>
</div>
<br>
<div *ngIf="tickets.length === 0" class="text-gray-500 text-center mt-4">
  You have no pending tickets.
</div>


<div *ngFor="let ticket of pendingTickets()" style="border:1px solid #ccc; padding:10px; margin:10px;">
  <label>
    <input type="checkbox" [checked]="isSelected(ticket.id)" (change)="toggleSelection(ticket.id)" />
    <strong>{{ ticket.gift.giftName }}</strong> - ₪{{ ticket.gift.price }}
  </label>
  <p>Order date: {{ ticket.orderDate }}</p>
  <button (click)="payTicket(ticket.id)">Pay</button>
  <button (click)="deleteTicket(ticket.id)">Delete</button>
</div>

<div *ngIf="selectedTicketIds().length > 0" style="margin-top: 20px; border-top: 1px solid gray; padding-top: 10px;">
  <p><strong>Total to Pay:</strong> ₪{{ getTotalSelectedPrice() }}</p>
  <button (click)="paySelected()">Pay Selected</button>
</div>
