.donor-actions {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.add-donor {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.filters {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;

  input {
    width: 180px;
  }
}
