<div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4 mb-6">
  <div class="flex flex-wrap gap-2 flex-1 min-w-0">
    <input pInputText [(ngModel)]="searchName" placeholder="Search by name"
      class="p-inputtext-sm border rounded px-3 py-2 flex-grow min-w-[150px]" (input)="search()" />
    <span> | </span>

    <input pInputText [(ngModel)]="searchEmail" placeholder="Search by email"
      class="p-inputtext-sm border rounded px-3 py-2 flex-grow min-w-[150px]" (input)="search()" />
    <span> | </span>
    <input pInputText [(ngModel)]="searchGift" placeholder="Search by gift"
      class="p-inputtext-sm border rounded px-3 py-2 flex-grow min-w-[150px]" (input)="search()" />
  </div>
  <br>
  <button pButton type="button" icon="pi pi-plus" label="Add Donor" class="p-button-success p-button-sm ml-auto sm:ml-0"
    (click)="openAddDialog()"></button>
  <br>
</div>

<p-table [value]="donors" [paginator]="true" [rows]="10" class="shadow rounded-lg overflow-hidden"
  [responsiveLayout]="'scroll'">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Show Me</th>
      <th>Gift Count</th>
      <th>Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-donor>
    <tr>
      <td>{{ donor.id }}</td>
      <td>{{ donor.name }}</td>
      <td>{{ donor.email }}</td>
      <td class="flex items-center gap-2">
        <span [class.text-green-600]="donor.showMe" [class.text-red-600]="!donor.showMe">
          {{ donor.showMe ? 'Allowed' : 'Not Allowed' }}
        </span>
      </td>
      <td>{{ donor.giftsCount }}</td>

      <td class="actions-cell">
  <button
    pButton
    type="button"
    label="update"
    icon="pi pi-pencil"
    class="p-button-sm p-button-info"
    (click)="editDonor(donor)"
    pTooltip="update donor"
    tooltipPosition="top"
  ></button>

  <button
    pButton
    type="button"
    label="delete"
    icon="pi pi-trash"
    class="p-button-sm p-button-danger"
    (click)="deleteDonor(donor.id)"
    pTooltip="delete donor"
    tooltipPosition="top"
  ></button>
</td>

    </tr>
  </ng-template>
</p-table>

<app-donor-form [(visible)]="displayAddDialog" [donor]="selectedDonor" (save)="onSaveDonor($event)"></app-donor-form>

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>